<div class="container">
    <h6>Oooops, you are not authorized to view this page.</h6>
    <h6>Would you prefer to <a asp-controller="Gallery" asp-action="Logout">Log in as someone else</a>?</h6>
</div>
