@model ImageGallery.Client.ViewModels.OrderFrameViewModel

<div class="container">

    <h4>User address, taken from the token claim:</h4>
    <h2>@Model.Address</h2>
    <h2>@Model.Role</h2>

</div>
